@font-face {
	font-family: "gilmer";
	src: url("/fonts/Gilmer Medium.otf") format("opentype");
	font-weight: medium;
	font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
